/****** Nav Bar ******/

/* Languages Nav */

.flag {
    height: 35px;
    width: 35px;
    border: solid lightgrey 1px;
    border-radius: 50%;
}

/****** Titles ******/

h1 {
    margin: 5% 0 !important;
}
