/****** Nav Bar ******/

/* Languages Nav */

.navbar {
    padding: 1.5rem 1rem !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0 ,0, 0.1);
}

.navbar-brand {
    color: #2F4F4F !important;
}

.flags {
    max-width: 100px;
}

@media only screen and (max-width: 990px) {
    .flags ul {
        display: inline-block;
    }
}

@media only screen and (min-width: 991px) {
    .flags ul {
        display: flex;
    }
}

.flags li {
    display: inline-block;
}

@media only screen and (max-width: 990px) {
    .flags {
        position: absolute;
        top: 19px;
        right: 90px;
    }
}

.flag {
    height: 35px;
    width: 35px;
    border: solid lightgrey 1px;
    border-radius: 50%;
}

/****** Content ******/

/* General */

body {
    font-family: 'Rubik', sans-serif !important;
    overflow-x: hidden;
}

h1 {
    margin: 125px 0 5% 0 !important;
}

h1, h2, h3, th, td, p {
    color: #5a6268 !important;
}

h1, h2, h3 {
    font-weight: 300 !important;
}

/* Home */

.content .home img {
    max-width: 75%;
}

.content .home tr th {
    font-weight: 500 !important;
    text-align: center;
    padding: 2% 0;
}

.content .home tr:first-of-type td {
    border-top: none;
}

.content .home tr td {
    text-align: center;
    padding: 6% 0 2% 0;
}

@media only screen and (max-width: 992px) {
    .content .home tr td {
        padding-top: 5%;
    }
}

.content .home tr .image {
    text-align: center;
    padding-top: 2%;
}

/* Single Item */

.content .item .item-images img {
    max-width: 75%;
    margin-top: 125px;
}

.content .item a {
    margin: 5px 0 25px 0;
}

.content .item .item-mint-link i {
    margin-left: 5px;
}

.content .item .item-info {
    font-weight: 500 !important;
}

.slider {
    text-align: center;
}

.lSPager {
    width: 65% !important;
    margin: 25px auto !important;
}

@media only screen and (min-width: 576px) and (max-width: 769px) {
    .lSPager {
        width: 55% !important;
    }
}

@media only screen and (min-width: 770px) and (max-width: 992px) {
    .lSPager {
        width: 80% !important;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .lSPager {
        width: 60% !important;
    }
}

@media only screen and (min-width: 1201px) {
    .lSPager {
        width: 50% !important;
    }
}

.lSPager li {
    width: 100px !important;
    margin: 15px !important;
}

/*Form */

fieldset {
    margin: 10% 0 !important;
}

/****** Footer ******/

footer {
    height: 200px;
    margin-top: 150px;
    padding-top: 75px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0 ,0, 0.1);
}

footer a {
    margin: 5px;
}

footer p {
    margin-top: 25px;
    font-size: 80%;
}

footer .copyright {
    font-weight: 500;
    margin-left: 5px;
}
