/****** Nav Bar ******/

/* Languages Nav */

.flags {
    max-width: 100px;
}

@media only screen and (max-width: 990px) {
    .flags ul {
        display: inline-block;
    }
}

@media only screen and (min-width: 991px) {
    .flags ul {
        display: flex;
    }
}


.flags li {
    display: inline-block;
}

@media only screen and (max-width: 990px) {
    .flags {
        position: absolute;
        top: 2px;
        right: 90px;
    }
}

.flag {
    height: 35px;
    width: 35px;
    border: solid lightgrey 1px;
    border-radius: 50%;
}

/****** Content ******/

h1 {
    margin: 5% 0 !important;
}

.content .home img {
    max-width: 75%;
}

.content .home tr th {
    text-align: center;
    padding: 2% 0;
}

.content .home tr:first-of-type td {
    border-top: none;
}

.content .home tr td {
    text-align: center;
    margin: 2% 0;
}

.content .item h1 {
    margin-top: 10% !important;
}

.content .item .item-images img {
    max-width: 75%;
    margin-top: 10%;
}

.content .item a {
    margin: 5px 0 25px 0;
}

.content .item .item-info i {
    margin-left: 5px;
}

/****** Form ******/

fieldset {
    margin: 10% 0 !important;
}
