<footer class="text-center align-middle">
    <div class="row">
        <div class="col">
            <a href="https://twitter.com/creatiboom/"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/Jesus-Loranca/"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/jesus-loranca/"><i class="fab fa-linkedin-in"></i></a>

            <p><span class="copyright">Copyright © {{ moment().format('YYYY') }}</span> Jesús A. Loranca Rubio</p>
        </div>
    </div>
</footer>
