{% extends 'layout.html' %}

{% block content %}
    <h1 class="es">Añadir un Objeto a la Colección</h1>
    <h1 class="en">Add an Item to the Collection</h1>

    <div>
        <form action="/form" method="post">
            <fieldset>
                <legend class="es">Tipo</legend>
                <legend class="en">Type</legend>
                <input type="text" name="name">
            </fieldset>

            <fieldset>
                <legend class="es">Nombre</legend>
                <legend class="en">Name</legend>
                <input type="text" name="name">
            </fieldset>

            <fieldset>
                <legend class="es">Imagen Cara</legend>
                <legend class="en">Front Image</legend>
                <input type="text" name="name">
            </fieldset>

            <fieldset>
                <legend class="es">Imagen Dorso</legend>
                <legend class="en">Back Image</legend>
                <input type="text" name="name">
            </fieldset>

            <fieldset>
                <legend class="es">País</legend>
                <legend class="en">Country</legend>
                <input type="text" name="name">
            </fieldset>

            <fieldset>
                <legend class="es">Denominación</legend>
                <legend class="en">Denomination</legend>
                <input type="text" name="name">
            </fieldset>

            <fieldset>
                <legend class="es">Fecha de fabricación</legend>
                <legend class="en">Date of issue</legend>
                <input type="text" name="name">
            </fieldset>

            <fieldset>
                <legend class="es">Año de la serie</legend>
                <legend class="en">Series number</legend>
                <input type="text" name="name">
            </fieldset>

            <fieldset>
                <legend class="es">Número de Serie</legend>
                <legend class="en">Serial numbers</legend>
                <input type="text" name="name">
            </fieldset>

            <fieldset>
                <legend class="es">Estado</legend>
                <legend class="en">Grading</legend>
                <input type="text" name="name">
            </fieldset>

            <fieldset>
                <legend class="es">Valor</legend>
                <legend class="en">Value</legend>
                <input type="text" name="name">
            </fieldset>

            <fieldset>
                <legend class="es">Coste</legend>
                <legend class="en">Cost</legend>
                <input type="text" name="name">
            </fieldset>

            <fieldset>
                <legend class="es">Link de la Ceca</legend>
                <legend class="en">Mint's Link</legend>
                <input type="text" name="name">
            </fieldset>
        </form>
    </div>
{% endblock %}
