{% extends 'layout.html' %}

{% block content %}
    <div class="home">
        <h1 class="es">Últimas Adquisiciones</h1>
        <h1 class="en">Latest Additions</h1>

        <table class="table">
            <thead>
                <tr class="row">
                    <th class="es col-12 col-lg-2">Imagen</th>
                    <th class="en col-12 col-lg-2">Image</th>

                    <th class="es col-12 col-lg-4">Nombre</th>
                    <th class="en col-12 col-lg-4">Name</th>

                    <th class="es col-12 col-lg-2">País</th>
                    <th class="en col-12 col-lg-2">Country</th>

                    <th class="es col-12 col-lg-2">Denominación</th>
                    <th class="en col-12 col-lg-2">Denomination</th>

                    <th class="es col-12 col-lg-2">Fecha de fabricación</th>
                    <th class="en col-12 col-lg-2">Date of issue</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr class="row">
                        {% set link = site.domain() ~ site.language ~ '/' ~ item.link() %}
                        {% set name = item.name() %}
                        {% set type = item.type() %}

                        {% if type in ['Billete', 'Banknote'] %}
                            {% set obverseImage = item.obverseImage() %}
                            <td class="es image col-12 col-lg-2">
                                <a href="{{ link }}">
                                    <img class="zoom" src="{{ obverseImage }}" alt="Imagen del Anverso: {{ name }}">
                                </a>
                            </td>
                            <td class="en image col-12 col-lg-2">
                                <a href="{{ link }}">
                                    <img class="zoom" src="{{ obverseImage }}" alt="Obverse Image: {{ name }}">
                                </a>
                            </td>
                        {% endif %}

                        {% if type in ['Moneda', 'Coin'] %}
                            {% set reverseImage = item.reverseImage() %}
                            <td class="es image col-12 col-lg-2">
                                <a href="{{ link }}">
                                    <img class="zoom" src="{{ reverseImage }}" alt="Imagen del Reverso: {{ name }}">
                                </a>
                            </td>
                            <td class="en image col-12 col-lg-2">
                                <a href="{{ link }}">
                                    <img class="zoom" src="{{ reverseImage }}" alt="Reverse Image: {{ name }}">
                                </a>
                            </td>
                        {% endif %}

                        <td class="col-12 col-lg-4">
                            <a href="{{ link }}">{{ name }}</a>
                        </td>

                        <td class="col-12 col-lg-2">{{ item.country() }}</td>

                        <td class="col-12 col-lg-2">{{ item.denomination() }}</td>

                        <td class="col-12 col-lg-2">{{ item.date() }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
