{% extends 'layout.html' %}

{% block content %}
    <h1 class="es">Links Interesantes</h1>
    <h1 class="en">Interesting Links</h1>

    <div>
        <h2 class="es">Cecas</h2>
        <h2 class="en">Mints</h2>

        <a href="http://www.fnmt.es/web/fnmt/">Real Casa de la Moneda (ES)</a>
        <a href="https://www.royalmint.com/">Royal Mint (UK)</a>
        <a href="https://www.muenzeoesterreich.at/eng/">Austrian Mint (AT)</a>
    </div>

    <div>
        <h2>Blogs</h2>

        <a href="http://blognumismatico.com/">Blog Numismático (ES)</a>
        <a href="https://www.numismatica-visual.es/">Numismática Visual (ES)</a>
    </div>

    <div>
        <h2 class="es">Vendedores</h2>
        <h2 class="en">Sellers</h2>

        <a href="https://www.coingallery.co.uk/">Coin Gallery (UK)</a>
        <a href="https://www.banknoteworld.com/">Banknote World (USA)</a>
        <a href="https://www.usacoinbook.com/">Real Casa de la Moneda (ES)</a>
        <a href="https://www.royalmint.com/">Royal Mint (UK)</a>
        <a href="https://www.muenzeoesterreich.at/eng/">Austrian Mint (AT)</a>
    </div>

    <div>
        <h2 class="es">Bases de Datos</h2>
        <h2 class="en">Databases</h2>

        <a href="https://www.coin-database.com/">Coin Databse (Global)</a>
        <a href="https://www.changechecker.org/">Change Checker (UK)</a>
        <a href="https://www.usacoinbook.com/">USA Coin Book (USA)</a>
    </div>

    <div>
        <h2 class="es">Deseados</h2>
        <h2 class="en">Desired</h2>

        <a href="https://www.muenzeoesterreich.at/eng/collect/collector-coins/silver-niobium-coins/">Silver Niobium Coins (AT)</a>
    </div>
{% endblock %}
