{% extends 'layout.html' %}

{% block content %}
    <h1 class="es">Links Interesantes</h1>
    <h1 class="en">Interesting Links</h1>

    <div>
        <h2 class="es">Cecas</h2>
        <h2 class="en">Mints</h2>

        <a href="http://www.fnmt.es/web/fnmt">Real Casa de la Moneda (ES)</a>
        <a href="https://www.royalmint.com/">Royal Mint (UK)</a>
        <a href="https://www.muenzeoesterreich.at/eng">Austrian Mint (AT)</a>
    </div>

    <div>
        <h2>Blogs</h2>

        <a href="http://blognumismatico.com/">Blog Numismático (ES)</a>
    </div>

    <div>
        <h2 class="es">Vendedores</h2>
        <h2 class="en">Sellers</h2>

        <a href="https://tienda.fnmt.es/fnmttv/fnmt/es/">Real Casa de la Moneda (ES)</a>
        <a href="https://www.royalmint.com/">Royal Mint (UK)</a>
        <a href="https://www.muenzeoesterreich.at/eng">Austrian Mint (AT)</a>
    </div>
{% endblock %}
