{% extends 'layout.html' %}

{% block content %}
    <div class="item row">
        <div class="item-images col-12 col-md-6">
            <div class="es">
                {% set obverseImage = item.obverseImage() %}
                {% set reverseImage = item.reverseImage() %}
                {% set name = item.name() %}
                <ul class="slider">
                    <li data-thumb="{{ obverseImage }}">
                        <img class="zoom" src="{{ obverseImage }}" alt="Imagen del Anverso: {{ name }}">
                    </li>

                    <li data-thumb="{{ reverseImage }}">
                        <img class="zoom" src="{{ reverseImage }}" alt="Imagen del Reverso: {{ name }}">
                    </li>
                </ul>
            </div>

            <div class="en">
                <ul class="slider">
                    <li data-thumb="{{ obverseImage }}">
                        <img class="zoom" src="{{ obverseImage }}" alt="Obverse Image: {{ name }}">
                    </li>

                    <li data-thumb="{{ reverseImage }}">
                        <img class="zoom" src="{{ reverseImage }}" alt="Reverse Image: {{ name }}">
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="row">
                {% set denomination = item.denomination() %}
                {% set date = item.date() %}
                <h1 class="es">{{ denomination ~ ' de ' ~ date ~ ', ' ~ name }}</h1>
                <h1 class="en">{{ denomination ~ ' from ' ~ date ~ ', ' ~ name }}</h1>

                {% set link = item.mintLink() %}
                {% if link %}
                    <a class="es item-mint-link" href="{{ link }}">Link a la ceca <i class="fas fa-external-link-alt"></i></a>
                    <a class="en item-mint-link" href="{{ link }}">Mint's link <i class="fas fa-external-link-alt"></i></a>
                {% endif %}
            </div>

            <div class="row">
                <p class="es item-info col-12 col-md-6 col-lg-3">Nombre:</p>
                <p class="en item-info col-12 col-md-6 col-lg-3">Name:</p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.name() }}</p>

                <p class="es item-info col-12 col-md-6 col-lg-3">Denominación:</p>
                <p class="en item-info col-12 col-md-6 col-lg-3">Denomination:</p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.denomination() }}</p>

                <p class="es item-info col-12 col-md-6 col-lg-3">País:</p>
                <p class="en item-info col-12 col-md-6 col-lg-3">Country:</p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.country() }}</p>

                <p class="es item-info col-12 col-md-6 col-lg-3">Fecha de fabricación:</p>
                <p class="en item-info col-12 col-md-6 col-lg-3">Date of issue: </p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.date() }}</p>

                <p class="es item-info col-12 col-md-6 col-lg-3">Diámetro:</p>
                <p class="en item-info col-12 col-md-6 col-lg-3">Diameter: </p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.diameter() }}</p>

                <p class="es item-info col-12 col-md-6 col-lg-3">Composición:</p>
                <p class="en item-info col-12 col-md-6 col-lg-3">Composition: </p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.composition() }}</p>

                <p class="es item-info col-12 col-md-6 col-lg-3">Año de la serie:</p>
                <p class="en item-info col-12 col-md-6 col-lg-3">Series number:</p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.seriesNumber() }}</p>

                <p class="es item-info col-12 col-md-6 col-lg-3">Número de Serie:</p>
                <p class="en item-info col-12 col-md-6 col-lg-3">Serial numbers:</p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.serialNumber() }}</p>

                <p class="es item-info col-12 col-md-6 col-lg-3">Estado:</p>
                <p class="en item-info col-12 col-md-6 col-lg-3">Grading:</p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.grading() }}</p>

                <p class="es item-info col-12 col-md-6 col-lg-3">Valor:</p>
                <p class="en item-info col-12 col-md-6 col-lg-3">Value:</p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.value() }}</p>

                <p class="es item-info col-12 col-md-6 col-lg-3">Coste:</p>
                <p class="en item-info col-12 col-md-6 col-lg-3">Cost:</p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.cost() }}</p>
            </div>
        </div>
    </div>
{% endblock %}
