{% extends 'layout.html' %}

{% block content %}
    <div class="item row">
        <div class="es col-12 col-md-6">
            <img src="{{ item.obverseImage() }}" alt="Imagen del Anverso: {{ item.name() }}">
            <img src="{{ item.reverseImage() }}" alt="Imagen del Reverso: {{ item.name() }}">
        </div>

        <div class="en col-12 col-md-6">
            <img src="{{ item.obverseImage() }}" alt="Obverse Image: {{ item.name() }}">
            <img src="{{ item.reverseImage() }}" alt="Reverse Image: {{ item.name() }}">
        </div>

        <div class="col-12 col-md-6">
            <div class="row">
                <h1 class="es">{{ item.denomination() ~ ' de ' ~ item.date() ~ ', ' ~ item.name() }}</h1>
                <h1 class="en">{{ item.denomination() ~ ' from ' ~ item.date() ~ ', ' ~ item.name() }}</h1>

                {% set link = item.mintLink() %}
                {% if link %}
                    <a class="es" href="{{ link }}"><span>Icono para el Link</span></a>
                    <a class="en" href="{{ link }}"><span>Link's icon</span></a>
                {% endif %}
            </div>

            <div class="row">
                <p class="es col-12 col-md-6 col-lg-3">Nombre:</p>
                <p class="en col-12 col-md-6 col-lg-3">Name:</p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.name() }}</p>

                <p class="es col-12 col-md-6 col-lg-3">Denominación:</p>
                <p class="en col-12 col-md-6 col-lg-3">Denomination:</p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.denomination() }}</p>

                <p class="es col-12 col-md-6 col-lg-3">País:</p>
                <p class="en col-12 col-md-6 col-lg-3">Country:</p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.country() }}</p>

                <p class="es col-12 col-md-6 col-lg-3">Fecha de fabricación:</p>
                <p class="en col-12 col-md-6 col-lg-3">Date of issue: </p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.date() }}</p>

                <p class="es col-12 col-md-6 col-lg-3">Diámetro:</p>
                <p class="en col-12 col-md-6 col-lg-3">Diameter: </p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.diameter() }}</p>

                <p class="es col-12 col-md-6 col-lg-3">Composición:</p>
                <p class="en col-12 col-md-6 col-lg-3">Composition: </p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.composition() }}</p>

                <p class="es col-12 col-md-6 col-lg-3">Año de la serie:</p>
                <p class="en col-12 col-md-6 col-lg-3">Series number:</p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.seriesNumber() }}</p>

                <p class="es col-12 col-md-6 col-lg-3">Número de Serie:</p>
                <p class="en col-12 col-md-6 col-lg-3">Serial numbers:</p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.serialNumber() }}</p>

                <p class="es col-12 col-md-6 col-lg-3">Estado:</p>
                <p class="en col-12 col-md-6 col-lg-3">Grading:</p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.grading() }}</p>

                <p class="es col-12 col-md-6 col-lg-3">Valor:</p>
                <p class="en col-12 col-md-6 col-lg-3">Value:</p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.value() }}</p>

                <p class="es col-12 col-md-6 col-lg-3">Coste:</p>
                <p class="en col-12 col-md-6 col-lg-3">Cost:</p>
                <p class="col-12 col-md-6 col-lg-9">{{ item.cost() }}</p>
            </div>
        </div>
    </div>
{% endblock %}
