<!DOCTYPE html>
<html lang="{{ site.language }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ site.title ~ ' | ' ~ site.name() }}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        {% if site.lightSlider %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/lightslider.css') }}" />
        {% endif %}

        {% if site.language == 'en' %}
            <style>
                .es { display: none !important; }
            </style>
        {% else %}
            <style>
                .en { display: none !important; }
            </style>
        {% endif %}

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        {{ moment.include_moment() }}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ site.domain() ~ site.language }}">{{ site.name() }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="es nav-link" href="{{ site.domain() ~ 'es' }}">Inicio</a>
                        <a class="en nav-link" href="{{ site.domain() ~ 'en' }}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="es nav-link" href="{{ site.domain() ~ 'es/links-interesantes' }}">Links Interesantes</a>
                        <a class="en nav-link" href="{{ site.domain() ~ 'en/interesting-links' }}">Interesting Links</a>
                    </li>
                </ul>
            </div>

            <div class="navbar-collapse flex-grow-1 text-right flags">
                <ul class="navbar-nav ml-auto flex-nowrap">
                    <li>
                        <a class="nav-link" href="{{ site.pageURL('es') }}"><img class="flag" src="{{ url_for('static', filename='img/es.png') }}" alt="es"></a>
                    </li>

                    <li>
                        <a class="nav-link" href="{{ site.pageURL('en') }}"><img class="flag" src="{{ url_for('static', filename='img/gb.png') }}" alt="gb"></a>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="content container">
            {% block content %}{% endblock %}
        </section>

        {% include 'footer.html' %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/dbc8ddb3d9.js" crossorigin="anonymous"></script>

        {% if site.blowUp %}
            <script type="text/javascript" src="{{ url_for('static', filename='js/lib/blowup.js') }}"></script>
        {% endif %}

        {% if site.lightSlider %}
            <script type="text/javascript" src="{{ url_for('static', filename='js/lib/lightslider.js') }}"></script>
        {% endif %}

        {% if site.blowUp or site.lightSlider %}
            <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        {% endif %}
    </body>
</html>
